.contact_wapper {
    width: 100%;
    height: 8rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    padding: 0 2.3rem;
    background-color: #fff;
    box-shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
}

.contact_wapper>.contact_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 0 0.5rem;
    color: gray;
}

.contact_wapper>.contact_container>.contact_left {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
}

.contact_wapper>.contact_container>.contact_left>.email {
    display: flex;
    align-items: center;
    color: #313030;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 0.4rem;
    user-select: none;
}

.contact_wapper>.contact_container>.contact_left>.email>a {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: rgb(49, 48, 48);
    font-weight: 500;
    letter-spacing: 0;
}

.contact_wapper>.contact_container>.contact_left>.email>span {
    margin-left: 0.9rem;
    font-size: 0.7rem;
}


.contact_wapper>.contact_container>.contact_left>.phone {
    display: flex;
    align-items: center;
}

.contact_wapper>.contact_container>.contact_left>.phone>p {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 0.4rem;
    user-select: none;
    color: rgb(49, 48, 48);
    font-weight: 500;
}

.contact_wapper>.contact_container>.contact_left>.phone>h5 {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: rgb(49, 48, 48);
    font-weight: 500;
}

/*------------- contact_right -----------------*/

.contact_wapper>.contact_container>.contact_right {
    display: flex;
    font-size: 1rem;
}

.contact_wapper>.contact_container>.contact_right>a {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 0;
    color: rgb(49, 48, 48);
    font-weight: 500;
}

.contact_wapper>.contact_container>.contact_right>a:first-child {
    margin-right: 1.5rem;
}

.contact_wapper>.contact_container>.contact_right>a>.svg_facebook {
    fill: #1285c7;
    border-radius: 15px;
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 0.5rem;
}

.contact_wapper>.contact_container>.contact_right>a>.svg_instagram {
    fill: #e91f11;
    border-radius: 15px;
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 0.5rem;
}

/* 524 */
@media (max-width: 524px) {
    .contact_wapper {
        width: 100%;
        height: 8rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        background-color: #fff;
        box-shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
    }
}

/* 425 */

@media (max-width: 425px) {
    .contact_wapper {
        width: 100%;
        height: 8rem;
        margin-top: 2rem;
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        background-color: #fff;
        box-shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;

    }

    .contact_wapper>.contact_container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        height: 5rem;
        padding: 0 0.5rem;
        color: gray;
    }

    .contact_wapper>.contact_container>.contact_left {
        display: flex;
        align-items: flex-start;
        font-size: 0.5rem;
        flex-direction: column;
        width: 50%;
    }

    .contact_wapper>.contact_container>.contact_left>.email {
        display: flex;
        align-items: center;
    }

    .contact_wapper>.contact_container>.contact_left>.email>p {
        color: rgb(49, 48, 48);
        font-size: 0.7rem;
        font-weight: 500;
    }

    .contact_wapper>.contact_container>.contact_left>.email>span {
        margin-left: 1.3rem;
        font-size: 0.4rem;
    }

    .contact_wapper>.contact_container>.contact_left>.email>a {
        font-size: 0.5rem;
        color: rgb(49, 48, 48);
    }

    .contact_wapper>.contact_container>.contact_left>.phone {
        display: flex;
        align-items: center;
    }

    .contact_wapper>.contact_container>.contact_left>.phone>p {
        font-size: 0.7rem;
        user-select: none;
        color: rgb(49, 48, 48);
        font-weight: 500;
        padding-right: 0.5rem;
    }


    .contact_wapper>.contact_container>.contact_left>.phone>h5 {
        font-size: 0.5rem;
        margin-left: 0.3rem;
        color: rgb(49, 48, 48);
        font-weight: 500;
    }

    .contact_wapper>.contact_container>.contact_right {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 50%;
        font-size: 0.7rem;
    }

    .contact_wapper>.contact_container>.contact_right>a {
        display: flex;
        align-items: center;
        letter-spacing: 0;
        font-size: 0.5rem;
        color: rgb(49, 48, 48);
        font-weight: 500;
    }

    .contact_wapper>.contact_container>.contact_right>a:first-child {
        margin-right: 1rem;
    }

    .contact_wapper>.contact_container>.contact_right>a>.svg_facebook {
        fill: #1285c7;
        border-radius: 15px;
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 0.5rem;
    }

    .contact_wapper>.contact_container>.contact_right>a>.svg_instagram {
        fill: #e91f11;
        border-radius: 15px;
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 335px) {

    .contact_wapper {
        width: 100% !important;
        height: 8rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        background-color: #fff;
        box-shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
    }

    .contact_wapper>.contact_container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        height: 5rem;
        padding: 0 0.5rem;
        color: gray;
    }
}

/* 300 */
@media (max-width: 300px) {
    .contact_wapper>.contact_container>.contact_right {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 50%;
        font-size: 0.6rem;
    }

    .contact_wapper>.contact_container>.contact_right>a {
        display: flex;
        align-items: center;
        letter-spacing: 0;
        font-size: 0.5rem;
        color: rgb(49, 48, 48);
        font-weight: 500;
    }

    .contact_wapper>.contact_container>.contact_right>a:first-child {
        margin-right: 0.3rem;
    }

    .contact_wapper>.contact_container>.contact_right>a>.svg_facebook {
        fill: #1285c7;
        border-radius: 15px;
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 0.5rem;
    }

    .contact_wapper>.contact_container>.contact_right>a>.svg_instagram {
        fill: #e91f11;
        border-radius: 15px;
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 0.5rem;
    }
}

/* 280 */

@media (max-width: 280px) {
    .contact_wapper {
        width: 100% !important;
        height: 8rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        background-color: #fff;
        box-shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
    }

    .contact_wapper>.contact_container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        height: 5rem;
        padding: 0 0.5rem;
        color: gray;
    }

    .contact_wapper>.contact_container>.contact_left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: #1285c7;
        width: 180px;
    }
}