.header_wapp {
  width: 100%;
  height: 33.5rem;
  display: flex;
  position: relative;
}

.header_wapp>.header_left {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_wapp>.header_left>.header_left_content {
  height: 17rem;
  width: 41rem;
  position: absolute;
  /* background-color: red; */
  top: 33%;
  left: 5rem;
}

.header_wapp>.header_left>.header_left_content>.dynamic-txts {
  height: 70px;
  width: 650px;
  background-color: #ffffff;
  line-height: 90px;
  user-select: none;
  overflow: hidden;
}

.header_wapp>.header_left>.header_left_content>.dynamic-txts>li {
  list-style: none;
  color: #2366bd;
  font-weight: 500;
  position: relative;
  top: 0;
  padding: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.header_wapp>.header_left>.header_left_content>.dynamic-txts>li>span {
  position: relative;
  margin: 5px 0;
  height: 90px;
  width: 100%;
  letter-spacing: 0.4rem;
  background-color: #ffffff;
  font-size: 45px;
  line-height: 4rem;
}

.header_wapp>.header_left>.header_left_content>.dynamic-txts>li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 94px;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  border-left: 2px solid #ffffff;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.header_wapp>.header_left>.header_left_content>h1 {
  letter-spacing: 0.4rem;
  line-height: 4rem;
}

.header_wapp>.header_left>.header_left_content>h1>span {
  color: rgb(24, 125, 207);
  letter-spacing: 0.4rem;
  line-height: 3rem;
}

.header_wapp>.header_left>.header_left_content>.contact_btn {
  margin-top: 2rem;
}

.header_wapp>.header_left>.header_left_content>.contact_btn>.btn {
  padding: 0.8rem 2rem;
  background-color: rgb(35, 96, 228);
  border-radius: 0.6rem;
  font-size: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header_right {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_right>.profile_bg_r {
  border-radius: 50%;
  height: 16rem;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 2px 6px 2px !important;
  margin-bottom: -5rem;
}

.header_wapp>.header_right>.profile_bg_r>img {
  height: 93%;
  width: 93%;
  position: absolute;
  border-radius: 50%;
  user-select: none;
  filter: contrast(110%)
}



/* 1300 */
@media (max-width: 1300px) {
  .header_wapp {
    width: 100%;
    height: 36.5rem;
    display: flex;
    position: relative;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 600px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
    transition: all 0.2s linear;
  }
}

/* 1232 */
@media (max-width: 1232px) {
  .header_wapp {
    width: 100%;
    height: 36.5rem;
    display: flex;
    position: relative;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 33rem;
    position: absolute;
    top: 34%;
    left: 5rem;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 500px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }
}

/* 1134 */
@media (max-width: 1136px) {
  .header_wapp {
    width: 100%;
    height: 36.5rem;
    display: flex;
    position: relative;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 485px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
    transition: all 0.2s linear;
  }
}

/* 1017 */
@media (max-width: 1018px) {
  .header_wapp {
    width: 100%;
    height: 36.5rem;
    display: flex;
    position: relative;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 28rem;
    position: absolute;
    top: 34%;
    left: 5rem;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 450px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }

  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.4rem;
    line-height: 4rem;
    font-size: 27px;
  }

  .header_wapp>.header_left>.header_left_content>h1>span {
    color: rgb(24, 125, 207);
    letter-spacing: 0.4rem;
    line-height: 3rem;
    font-size: 27px;
  }
}

/* 942 */
@media (max-width: 942px) {
  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.2rem;
    line-height: 4rem;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    width: 400px;
    height: 70px;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts>li>span {
    position: relative;
    margin: 5px 0;
    letter-spacing: 0.2rem;
    font-size: 40px;
    line-height: 3.7rem;
  }
}

/* 932 */
@media (max-width: 932px) {
  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 26rem;
    position: absolute;
    top: 34%;
    left: 3rem;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 410px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }
}

/* 928 */
@media (max-width: 928px) {
  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 26rem;
    position: absolute;
    top: 34%;
    left: 2rem;
  }
}

/* 916px */
@media (max-width: 916px) {
  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 26.6rem;
    position: absolute;
    top: 34%;
    left: 2rem;
  }

  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.4rem;
    line-height: 4rem;
    font-size: 26px;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_left>.header_left_content>h1>span {
    color: rgb(24, 125, 207);
    letter-spacing: 0.4rem;
    line-height: 3rem;
    font-size: 26px;
  }
}

/* 906 */
@media (max-width: 906px) {
  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 26.6rem;
    position: absolute;
    top: 34%;
    left: 2rem;
    background-color: #ffffff;
  }
}

/* 838 */
@media (max-width: 838px) {
  .header_wapp>.header_left>.header_left_content>.dynamic-txts>li>span {
    position: relative;
    margin: 5px 0;
    letter-spacing: 0.2rem;
    font-size: 37px;
    line-height: 3.7rem;
  }

  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.1rem;
    line-height: 4rem;
    font-size: 30px;
  }

  .header_wapp>.header_left>.header_left_content>h1>span {
    color: rgb(24, 125, 207);
    letter-spacing: 0.1rem;
    font-size: 30px;
    line-height: 3rem;
  }

}

/* 828 */
@media (max-width: 828px) {
  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-bottom: -5rem;
  }

  .header_wapp>.header_right>.profile_bg_r>img {
    height: 93%;
    width: 93%;
    position: absolute;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    user-select: none;
    filter: contrast(110%)
  }
}

/* 764 */
@media (max-width: 764px) {
  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 23rem;
    position: absolute;
    top: 34%;
    left: 2rem;
    background-color: #ffffff;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 300px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }
}

/* 734 */
@media (max-width: 734px) {
  .header_wapp {
    width: 100%;
    height: 49.5rem;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .header_wapp>.header_left {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6rem;
    position: relative;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 33rem;
    position: absolute;
    top: 5%;
    left: 2rem;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 400px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }

  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.4rem;
    line-height: 4rem;
  }

  .header_wapp>.header_left>.header_left_content>h1>span {
    color: rgb(24, 125, 207);
    letter-spacing: 0.4rem;
    line-height: 3rem;
  }

  .header_right {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-right: -20rem;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
  }

  .header_wapp>.header_right>.profile_bg_r>img {
    height: 93%;
    width: 93%;
    position: absolute;
    border-radius: 50%;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    user-select: none;
    filter: contrast(110%)
  }
}

/* 615 */
@media (max-width: 615px) {
  .header_wapp>.header_left {
    height: 62%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9rem;
    background-color: #ffffff;
    position: relative;
  }

  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: -4rem;
    margin-right: -17rem;
    position: relative;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all 0.2s linear;
  }
}

@media (max-width: 600px) {}

/* 570 */
@media (max-width: 570px) {
  .header_wapp {
    width: 100%;
    padding: 0;
    height: 29rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
  }

  .header_wapp>.header_left {
    height: 17.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header_right {
    height: 12rem;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_right>.profile_bg_r>img {
    height: 95%;
    width: 95%;
    position: absolute;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    user-select: none;
    filter: contrast(110%)
  }

  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 21rem;
    position: absolute;
    top: -21%;
    left: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.2rem;
    line-height: 2.3rem;
    font-size: 1.1rem;
  }

  .header_wapp>.header_left>.header_left_content>h1>span {
    color: #187dcf;
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
    line-height: 3rem;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 305px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts>li>span {
    position: relative;
    margin: 5px 0;
    letter-spacing: 0.2rem;
    font-size: 30px;
    line-height: 3.7rem;
  }

  .header_wapp>.header_left>.header_left_content>.contact_btn>.btn {
    padding: 0.8rem 2rem;
    background-color: rgb(35, 96, 228);
    border-radius: 0.6rem;
    font-size: 1.1rem;
    box-shadow: #32325d40 0px 6px 12px -2px,
      #0000004d 0px 3px 7px -3px;
  }
}

/* 500 */
@media (max-width: 500px) {
  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: -21%;
    left: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.2rem;
    line-height: 2.3rem;
    font-size: 1rem;
  }

  .header_wapp>.header_left>.header_left_content>h1>span {
    color: #187dcf;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 305px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts>li>span {
    position: relative;
    margin: 5px 0;
    letter-spacing: 0.2rem;
    font-size: 30px;
    line-height: 3.7rem;
  }

  .header_wapp>.header_left>.header_left_content>.contact_btn>.btn {
    padding: 0.8rem 2rem;
    background-color: rgb(35, 96, 228);
    border-radius: 0.6rem;
    text-align: center;
    font-size: 1rem;
    box-shadow: #32325d40 0px 6px 12px -2px,
      #0000004d 0px 3px 7px -3px;
  }
}

/* 437 */
@media (max-width: 437px) {
  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 17rem;
    position: absolute;
    top: -21%;
    left: 1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 300px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }

  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_right>.profile_bg_r>img {
    height: 95%;
    width: 95%;
    position: absolute;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    user-select: none;
    filter: contrast(110%)
  }

  .header_wapp>.header_left>.header_left_content>.contact_btn>.btn {
    padding: 0.7rem 2rem;
    background-color: #2360e4;
    text-align: center;
    border-radius: 0.6rem;
    font-size: 1rem;
    box-shadow: #32325d40 0px 6px 12px -2px,
      #0000004d 0px 3px 7px -3px;
  }
}

/* 400 */

@media (max-width: 400px) {
  .header_wapp {
    width: 100%;
    padding: 0px 0px;
    height: 27.8rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
  }

  .header_right {
    height: 10rem;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    margin-left: -1.5rem;
    margin-top: -0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_right>.profile_bg_r>img {
    height: 95%;
    width: 95%;
    position: absolute;
    border-radius: 50%;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    user-select: none;
    filter: contrast(100%)
  }

  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 17rem;
    position: absolute;
    top: -15%;
    left: 0.1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_wapp>.header_left>.header_left_content>h1 {
    letter-spacing: 0.1rem;
    line-height: 2.3rem;
    font-size: 15px;
  }

  .header_wapp>.header_left>.header_left_content>h1>span {
    color: #187dcf;
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts {
    height: 70px;
    width: 260px;
    background-color: #ffffff;
    line-height: 90px;
    user-select: none;
    overflow: hidden;
  }

  .header_wapp>.header_left>.header_left_content>.dynamic-txts>li>span {
    position: relative;
    margin: 5px 0;
    letter-spacing: 0.2rem;
    font-size: 23px;
    line-height: 3.7rem;
  }
}

/* 382 */

@media (max-width: 382px) {
  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    margin-left: -2.7rem;
    margin-top: -0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 20rem;
    width: 17rem;
    position: absolute;
    top: -15%;
    left: 0.1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_right {
    height: 10rem;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* 375 */

@media (max-width: 375px) {
  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    margin-left: -4rem;
    margin-top: -0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 19rem;
    width: 17rem;
    position: absolute;
    top: -10%;
    left: 0.1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_right {
    height: 10rem;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* 343 */
@media (max-width: 343px) {
  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    margin-left: -6rem;
    margin-top: -0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 19rem;
    width: 17rem;
    position: absolute;
    top: -10%;
    left: 0.1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_right {
    height: 10rem;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* 317 */

@media (max-width: 317px) {
  .header_right>.profile_bg_r {
    border-radius: 50%;
    height: 7.4rem;
    width: 7.4rem;
    display: flex;
    margin-left: -7rem;
    margin-top: -0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    transition: all 0.2s linear;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 19rem;
    width: 17rem;
    position: absolute;
    top: -10%;
    left: 0.1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }

  .header_right {
    height: 10rem;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* 297px */

@media (max-width: 297px) {
  .header_wapp {
    width: 297px;
    padding: 0px 0px;
    height: 26.5rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff;
  }

  .header_right {
    height: 10rem;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_wapp>.header_left {
    height: 16rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header_wapp>.header_left>.header_left_content {
    height: 17rem;
    width: 17rem;
    position: absolute;
    top: -10%;
    left: 0.1rem;
    padding-left: 1rem;
    border-top-right-radius: 60px;
    transition: all 0.2s linear;
    background-color: #ffffff;
  }
}

