
.shopping_wapper{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.shopping_wapper > h1{
    font-size: 23px;
}